# extract SP500 historical constituents from Wikipedia

Reference: https://analyzingalpha.com/sp500-historical-components-and-changes

In [2]:
import pandas as pd
from datetime import datetime
import numpy as np
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

data contains 2 tables: current members and historical changes

In [3]:
# 1st table is current members
data[0].head(3)

,0,1,2,3,4,5,6,7,8
0,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
1,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,0000066740,1902
2,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,0000001800,1888

In [4]:
# columns 0,1,6,7 are useful - trim off first row that contains headings - make our own
# fix null dates - give them 'impossible' value so they show up in date range queries

sp500 = data[0].loc[1:,[0,1,6]]
columns = ['ticker', 'name', 'date']
sp500.columns = columns
sp500.loc[sp500['date'].isnull(), 'date'] = '1957-01-01'

In [5]:
# bad format
sp500.query('date.str.len() != "10"')

   ticker       name                     date
55      T  AT&T Inc.  1983-11-30 (1957-03-04)

In [6]:
# use a regex -- need to do some googling
# https://www.regular-expressions.info/numericranges.html
sp500[sp500.date.str.match('^[1-2][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]$') != True]

# ATT is bad

   ticker       name                     date
55      T  AT&T Inc.  1983-11-30 (1957-03-04)

In [7]:
# look in original data
data[0][ (data[0][6].str.len() != 10) & (~data[0][6].isnull())]

,0,1,2,3,4,5,6,7,8
0,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
55,T,AT&T Inc.,reports,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30 (1957-03-04),0000732717,1983 (1885)

In [8]:
# fix it
sp500.loc[~sp500.date.str.match('^[1-2][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]$'),'date'] = '1983-11-30'

# check
sp500.query('ticker == "T"')

   ticker       name        date
55      T  AT&T Inc.  1983-11-30

In [9]:
# convert string to datetime type
# https://stackoverflow.com/questions/34962104/pandas-how-can-i-use-the-apply-function-for-a-single-column

sp500['dt'] = sp500['date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

In [10]:
sp500['date'].at(0)[6]

'2015-08-31'

In [11]:
# add an action variable - not sure if we need it but could be useful
sp500['action'] = 'add'

In [12]:

# are there dups?
print('No dups? {}'.format(len(sp500) == len(sp500.ticker.unique())))

No dups? True

In [13]:

# pickle it
import utils
utils.pickle_file(sp500, 'sp500-current.p')

In [14]:
# now deal with the historical changes

changes = data[1]

changes[2:]   # messy

# looking at the wiki article we see that column 1 are adds, column 3 are removes; both for the date 
# in column 0. I'll flatten this out usng a seperate rows and an action code

# sp500 = data[0].loc[1:,[0,1,6,7]]
# columns = ['added_ticker', 'name', 'date', 'cik']


sp500_adds = changes.loc[2:,[0,1]]
columns = ['date', 'ticker']
sp500_adds.columns = columns
sp500_adds['action'] = 'add'

# append the remove actions
tmp = changes.loc[2:,[0,3]]
tmp.columns = columns
tmp['action'] = 'rem'
sp500_adds = sp500_adds.append(tmp)

# drop null ticker values

sp500_adds = sp500_adds[~sp500_adds.ticker.isnull()]
sp500_adds['dt'] = sp500_adds['date'].apply(lambda x: datetime.strptime(x,'%B %d, %Y'))
sz1 = len(sp500_adds)
sp500_adds.drop_duplicates(keep=False,inplace=True) 
drops = sz1 != len(sp500_adds)

print ('num records {}'.format(sz1))

if drops:
    print('you dropped something')


#print(sp500_adds.head(5))
#print(sp500_adds.tail(5))

# make sure all the datetimes are valid
sp500_adds[sp500_adds.dt.isnull()]

right_now = datetime.now()

print(type(right_now))
print(sp500_adds.dtypes)
df = sp500_adds

# test how query functions work
df[(df['dt'] > '1924-1-1') & (df['action'] == 'add')]

now = pd.datetime.today()
print(df.query("dt > @right_now  "))

num records 475
<class 'datetime.datetime'>
date              object
ticker            object
action            object
dt        datetime64[ns]
dtype: object
Empty DataFrame
Columns: [date, ticker, action, dt]
Index: []

In [15]:
# save it
utils.pickle_file(sp500_adds, 'sp500-deltas.p')

In [22]:
# come up with a routine to get the components for any given date

import utils as u
from collections import Counter

class SP500Components:
    # static vars - fyi initiailized when first encountered in code 
    _sp500_current_df = u.read_pickle('sp500-current.p')
    _sp500_deltas_df = u.read_pickle('sp500-deltas.p')
    # cache current members as Counter 
    # - allowing duplicate values and graceful handling 
    # of possible multiple add/drop for same ticker
    _sp500_current = Counter(_sp500_current_df['ticker'].tolist())

    def __init__(self):
        pass
        
        
    def from_date(self, datetime):
        # basic algo is
        # S(t) = S(current) + S(drops > date) - S(add > date) 
        # df = self._sp500_current_df
        # curr = Counter(df[df['dt'] < datetime]['ticker'].tolist())
        # print('num curr < datetime {} is {}'.format(datetime,len(curr)))
        adds = Counter(SP500Components._sp500_deltas_df
                       .query('action == "add" and dt <= @datetime')['ticker'].tolist())
        #print('adds {}'.format(adds))
        drops = Counter(SP500Components._sp500_deltas_df
                        .query('action == "rem" and dt <= @datetime')['ticker'].tolist())
        #print('drops {}'.format(drops))
        ret = SP500Components._sp500_current + drops - adds
        print('diff ret - current {}'.format(ret - self._sp500_current))
        print('diff current - ret {}'.format(self._sp500_current - ret))
        return list(ret)


comps = SP500Components()

now = datetime.strptime('2020-01-01','%Y-%d-%m').date()



now2 = datetime.strptime('2010-01-04','%Y-%d-%m').date()

print('components:')
elems = comps.from_date(now)
elems2 = comps.from_date(now2)

print('diff1 {}'.format(set(elems) - set(elems2)))

print('diff2{}'.format(set(elems2) - set(elems)))

print('num elems {}'.format(len(elems)))
print('num elems2 {}'.format(len(elems2)))

components:
diff ret - current Counter({'CELG': 1, 'WIN': 1, 'DJ': 1, 'WB': 1, 'S': 1, 'STI': 1, 'SVU': 1, 'PCL': 1, 'LIFE': 1, 'TE': 1, 'OI': 1, 'BJS': 1, 'RHT': 1, 'SPLS': 1, 'ITT': 1, 'BCR': 1, 'TWX': 1, 'RAI': 1, 'LXK': 1, 'JBL': 1, 'FLR': 1, 'DPS': 1, 'POM': 1, 'GAS': 1, 'GHC': 1, 'PCS': 1, 'FDO': 1, 'NSM': 1, 'GR': 1, 'MWW': 1, 'BS': 1, 'RRD': 1, 'CVH': 1, 'PCG': 1, 'MJN': 1, 'JNY': 1, 'FRX': 1, 'TGNA': 1, 'GENZ': 1, 'HSP': 1, 'DD': 1, 'KSE': 1, 'SAI': 1, 'MIL': 1, 'BEAM': 1, 'BRCM': 1, 'SHLD': 1, 'DTV': 1, 'SLE': 1, 'PBI': 1, 'EQT': 1, 'WFM': 1, 'MUR': 1, 'RDC': 1, 'FRE': 1, 'CSC': 1, 'VIAB': 1, 'R': 1, 'ODP': 1, 'BMC': 1, 'APC': 1, 'THC': 1, 'SCG': 1, 'JCP': 1, 'AET': 1, 'TWC': 1, 'DNR': 1, 'SRCL': 1, 'AKS': 1, 'LEH': 1, 'X': 1, 'RSH': 1, 'JCI': 1, 'BIG': 1, 'TIE': 1, 'ACAS': 1, 'CBE': 1, 'TSG': 1, 'HNZ': 1, 'NE': 1, 'NYX': 1, 'TER': 1, 'CNX': 1, 'CFN': 1, 'CCE': 1, 'AN': 1, 'URBN': 1, 'MMI': 1, 'AV': 1, 'MAT': 1, 'GRA': 1, 'TLAB': 1, 'JEF': 1, 'XTO': 1, 'COL': 1, 'LM': 1, 'PTV': 1, 'SWY': 1, 'LLTC': 1, 'BBBY': 1, 'EMC': 1, 'CAM': 1, 'MI': 1, 'XL': 1, 'NYT': 1, 'SNI': 1, 'STR': 1, 'BTU': 1, 'NBR': 1, 'CHK': 1, 'PDCO': 1, 'DELL': 1, 'FTR': 1, 'HCBK': 1, 'HOT': 1, 'CLF': 1, 'HAR': 1, 'RAD': 1, 'SII': 1, 'WYN': 1, 'SGP': 1, 'KG': 1, 'SIAL': 1, 'ANDV': 1, 'DV': 1, 'MON': 1, 'GLK': 1, 'LSI': 1, 'WFR': 1, 'NVLS': 1, 'LLL': 1, 'PCP': 1, 'RX': 1, 'DO': 1, 'CA': 1, 'SUN': 1, 'STJ': 1, 'CPWR': 1, 'FSLR': 1, 'GT': 1, 'JNS': 1, 'APOL': 1, 'IGT': 1, 'EK': 1, 'YHOO': 1, 'AVP': 1, 'ABS': 1, 'DNB': 1, 'CEG': 1, 'EP': 1, 'AGN': 1, 'ATI': 1, 'MEE': 1, 'FHN': 1, 'MFE': 1, 'SE': 1, 'SLM': 1, 'CCK': 1, 'ANF': 1, 'TRB': 1, 'TDC': 1, 'TSS': 1, 'PLL': 1, 'NOVL': 1, 'MHS': 1, 'DF': 1, 'ALTR': 1, 'CEPH': 1, 'FNM': 1, 'GNW': 1, 'SWN': 1, 'FII': 1, 'TEG': 1, 'SNDK': 1, 'MOLX': 1, 'QTRN': 1, 'PGN': 1})
diff current - ret Counter({'WAB': 1, 'UAL': 1, 'HPE': 1, 'DXC': 1, 'CDW': 1, 'COTY': 1, 'KHC': 1, 'HBI': 1, 'GM': 1, 'UHS': 1, 'AWK': 1, 'CPRT': 1, 'ILMN': 1, 'PKG': 1, 'PNR': 1, 'DISH': 1, 'LDOS': 1, 'CTVA': 1, 'SYF': 1, 'MXIM': 1, 'FOX': 1, 'AAP': 1, 'FAST': 1, 'JBHT': 1, 'PYPL': 1, 'CE': 1, 'IDXX': 1, 'GRMN': 1, 'MHK': 1, 'ABMD': 1, 'TWTR': 1, 'AJG': 1, 'AVGO': 1, 'PSX': 1, 'NLSN': 1, 'HII': 1, 'FFIV': 1, 'MSCI': 1, 'PRGO': 1, 'WRB': 1, 'ABBV': 1, 'NWS': 1, 'ALK': 1, 'VRSK': 1, 'CDNS': 1, 'DG': 1, 'QRVO': 1, 'KMX': 1, 'ZTS': 1, 'FRT': 1, 'HLT': 1, 'NOW': 1, 'TMUS': 1, 'NFLX': 1, 'DLR': 1, 'STZ': 1, 'NCLH': 1, 'DISCK': 1, 'CFG': 1, 'DAL': 1, 'IT': 1, 'MPC': 1, 'NVR': 1, 'ACN': 1, 'SLG': 1, 'FTNT': 1, 'EW': 1, 'UDR': 1, 'PVH': 1, 'REGN': 1, 'TEL': 1, 'CHTR': 1, 'JKHY': 1, 'AAL': 1, 'CHD': 1, 'AOS': 1, 'FBHS': 1, 'SNPS': 1, 'FOXA': 1, 'ZBRA': 1, 'JNPR': 1, 'ANSS': 1, 'URI': 1, 'FLT': 1, 'ARE': 1, 'LRCX': 1, 'MOS': 1, 'IEX': 1, 'TSCO': 1, 'TTWO': 1, 'CXO': 1, 'MNST': 1, 'GPN': 1, 'RCL': 1, 'STX': 1, 'IR': 1, 'GOOGL': 1, 'LYB': 1, 'HCA': 1, 'HRL': 1, 'COO': 1, 'SWKS': 1, 'ROL': 1, 'INCY': 1, 'RE': 1, 'FB': 1, 'EXR': 1, 'RMD': 1, 'AME': 1, 'HSIC': 1, 'CCI': 1, 'VRTX': 1, 'FRC': 1, 'ATVI': 1, 'VTR': 1, 'STE': 1, 'EVRG': 1, 'ALXN': 1, 'BLK': 1, 'ULTA': 1, 'INFO': 1, 'FANG': 1, 'RJF': 1, 'AVB': 1, 'ATO': 1, 'MTD': 1, 'HOLX': 1, 'SIVB': 1, 'HFC': 1, 'CNC': 1, 'LKQ': 1, 'LNT': 1, 'EQIX': 1, 'MAA': 1, 'ANET': 1, 'CMG': 1, 'LVS': 1, 'SBAC': 1, 'TFX': 1, 'LW': 1, 'BWA': 1, 'WLTW': 1, 'IPGP': 1, 'INTU': 1, 'CRM': 1, 'CBOE': 1, 'FTV': 1, 'ALB': 1, 'DRE': 1, 'DOW': 1, 'ODFL': 1, 'MLM': 1, 'ALGN': 1, 'KEYS': 1, 'O': 1, 'REG': 1, 'ALLE': 1, 'XYL': 1, 'ADS': 1, 'MKTX': 1, 'TDG': 1, 'KSU': 1, 'ESS': 1, 'DLTR': 1, 'BR': 1, 'KMI': 1, 'UA': 1, 'CERN': 1, 'MGM': 1, 'LYV': 1})
diff ret - current Counter({'GRA': 1, 'TSG': 1, 'TRB': 1, 'ABS': 1, 'GLK': 1, 'CBE': 1, 'FNM': 1, 'LEH': 1, 'FRE': 1, 'CCK': 1, 'BS': 1, 'RAD': 1, 'QTRN': 1, 'AV': 1, 'RX': 1, 'JNY': 1, 'DJ': 1, 'WB': 1, 'SGP': 1, 'KSE': 1, 'ACAS': 1})
diff current - ret Counter({'FAST': 1, 'VTR': 1, 'HRL': 1, 'JNPR': 1, 'INTU': 1, 'STZ': 1, 'AVB': 1, 'CRM': 1})
diff1 {'WIN', 'S', 'STI', 'SVU', 'PCL', 'LIFE', 'TE', 'OI', 'BJS', 'RHT', 'NVLS', 'SPLS', 'BCR', 'TWX', 'RAI', 'LXK', 'JBL', 'FLR', 'DPS', 'GAS', 'GHC', 'PCS', 'FDO', 'NSM', 'GR', 'MWW', 'PCG', 'RRD', 'CVH', 'MJN', 'FRX', 'GENZ', 'HSP', 'MIL', 'BEAM', 'DV', 'BRCM', 'PCP', 'SHLD', 'DTV', 'SLE', 'PBI', 'EQT', 'WFM', 'MUR', 'RDC', 'CELG', 'CSC', 'VIAB', 'ITT', 'R', 'ODP', 'BMC', 'APC', 'THC', 'SCG', 'JCP', 'AET', 'DNR', 'SRCL', 'AKS', 'X', 'RSH', 'TGNA', 'BIG', 'EMC', 'TIE', 'HNZ', 'LLL', 'NE', 'NYX', 'TER', 'MEE', 'CNX', 'SNDK', 'CFN', 'JNS', 'AN', 'CCE', 'URBN', 'MMI', 'MAT', 'TLAB', 'JEF', 'XTO', 'COL', 'LM', 'PTV', 'SWY', 'LLTC', 'BBBY', 'CAM', 'MI', 'XL', 'NYT', 'SNI', 'STR', 'NBR', 'CHK', 'PDCO', 'DELL', 'FTR', 'HCBK', 'HOT', 'CLF', 'TSS', 'HAR', 'SII', 'WYN', 'KG', 'SIAL', 'ANDV', 'MON', 'LSI', 'WFR', 'TWC', 'BTU', 'DO', 'CA', 'SUN', 'STJ', 'CPWR', 'FSLR', 'GT', 'APOL', 'IGT', 'EK', 'YHOO', 'AVP', 'DNB', 'CEG', 'EP', 'AGN', 'POM', 'ATI', 'FHN', 'SAI', 'MFE', 'SE', 'SLM', 'ANF', 'TDC', 'PLL', 'MHS', 'DF', 'ALTR', 'CEPH', 'GNW', 'SWN', 'FII', 'TEG', 'NOVL', 'MOLX', 'PGN'}
diff2{'DXC', 'COTY', 'AVGO', 'HBI', 'UHS', 'PNR', 'LDOS', 'SYF', 'FOX', 'GRMN', 'ABMD', 'TWTR', 'KMI', 'FFIV', 'MSCI', 'DAL', 'WRB', 'NWS', 'VRSK', 'CDNS', 'UA', 'QRVO', 'ZTS', 'INCY', 'NOW', 'TMUS', 'NFLX', 'DLR', 'DISCK', 'CFG', 'IT', 'LRCX', 'MPC', 'SLG', 'FTNT', 'AWK', 'UDR', 'TEL', 'CHTR', 'SNPS', 'PKG', 'FOXA', 'EQIX', 'ARE', 'MOS', 'TSCO', 'GPN', 'IR', 'LYB', 'COO', 'EXR', 'RMD', 'KSU', 'CCI', 'ALXN', 'NVR', 'CHD', 'CE', 'MNST', 'HOLX', 'HFC', 'RJF', 'LNT', 'TFX', 'LW', 'IPGP', 'CBOE', 'ODFL', 'KEYS', 'XYL', 'BLK', 'ESS', 'DLTR', 'BR', 'UAL', 'HPE', 'CDW', 'KHC', 'MHK', 'CPRT', 'TTWO', 'CTVA', 'MXIM', 'JBHT', 'PYPL', 'SBAC', 'IDXX', 'ALB', 'FBHS', 'NLSN', 'PSX', 'HII', 'PRGO', 'REG', 'ALK', 'HLT', 'LVS', 'CNC', 'NCLH', 'LYV', 'EW', 'AJG', 'REGN', 'AAL', 'AOS', 'SWKS', 'STE', 'ZBRA', 'ILMN', 'ANSS', 'URI', 'ABBV', 'BWA', 'FLT', 'CERN', 'KMX', 'RCL', 'STX', 'GOOGL', 'CXO', 'MGM', 'ROL', 'RE', 'FB', 'FRT', 'WAB', 'AME', 'GM', 'HSIC', 'FRC', 'ATVI', 'EVRG', 'DG', 'ULTA', 'INFO', 'VRTX', 'FANG', 'IEX', 'ATO', 'MTD', 'ANET', 'MAA', 'CMG', 'PVH', 'WLTW', 'DISH', 'ACN', 'LKQ', 'FTV', 'AAP', 'DRE', 'DOW', 'MLM', 'ALGN', 'JKHY', 'HCA', 'ALLE', 'O', 'ADS', 'MKTX', 'TDG', 'SIVB'}
num elems 510
num elems2 518

In [23]:
elems2.index('BRK.B')
#df = u.read_pickle('sp500-current')

#len(df[df['dt'] < '2020-1-1'])

456